* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
}

.appContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 192rem;
  height: auto;
  display: flex;
}
